<!DOCTYPE html>
<html>
  <head>
    <!-- Probably always a good idea to be utf-8 -->
    <meta charset="utf-8"> 
    <!-- So iPads can view the app in full screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- This prevents Internet Explorer from entering 'quirks' mode -->
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <!-- Change the title to one for your own country -->
    <title>Calculadora México 2050</title>
    <!-- assets is a function definied in the Helper module in src/server.rb --> 
    <link href='/assets/<%= assets['application.css']%>' media='screen' rel='stylesheet' type='text/css' />
    <script src='/assets/<%= assets['application.js']%>' type='text/javascript'></script>
    <!-- Change the Google Analytics code to one for your own country-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17161700-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <!-- Other countries may want to delete this warning. It is hidden initially by css in src/stylesheets/body.css
      Code in the checkSVGWorks function in src/javascripts/controller.js checks if the user's web browser 
      supports SVG and, if it doesn't, shows this div.  -->
    <div id='svgWarn'>
      This interface requires <a href='http://caniuse.com/#cats=SVG'>a browser that supports SVG.</a> it seems like your browser doesn't support SVG. We have an <a href='http://uk-old.2050.org.uk'>old version of this calculator</a> that may work for you. Alternatively you can download <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>an excel version.</a>
      <p>
        <a href='#' onclick="$('#svgWarn').hide()">Hide this message.</a>
      </p>
    </div>

    <div id='topbar'>

      <div id='name'>
        <!-- Change this to link to your country website -->
        <a href='http://www.sener.gob.mx/'>Calculadora México 2050</a>
      </div>

      <div id='examples'>
        <a class='newdropdown' data-dropdown='#savedpathway_choices' href='#'>Ejemplos</a>
        <!-- the contents of this dropdown is defined in the #savedpathway_choices div below -->
      </div>

      <!-- To add or remove views from the web tool, alter the following section -->
      <div id='views'>
        <a class='view' data-view='primary_energy_chart' href='#'>Energía</a>
        <a class='view' data-view='electricity' href='#'>Electricidad</a>
        <a class='view' data-view='energy_security' href='#'>Seguridad</a>
        <a class='view' data-view='sankey' href='#'>Flujos</a>
        <a class='view' data-view='map' href='#'>Mapa</a>
        <a class='view' data-view='story' href='#'>Historia</a>
        <a class='newdropdown' data-dropdown='#cost_choices' href='#' id='cost_choice'>Costos</a>
        <a class='view' data-view='air_quality' href='#'>Aire</a>
        <a class='view' data-view='share' href='#'>Compartir</a>
        <!-- Change this to link to your own country website documentation -->
        <a href='http://2050-calculator-tool-wiki.decc.gov.uk'>Documentación</a>
      </div>
    </div>

    <div class='dropdown' id='cost_choices'>
      <a class='view' data-view='costs_in_context' href='#'>En contexto</a>
      <a class='view' data-view='costs_compared_overview' href='#'>Comparado</a>
      <a class='view' data-view='costs_sensitivity' href='#'>Sensibilidad</a>
    </div>

    <div class='dropdown' id='savedpathway_choices'>
      <!-- These are taken from the underlying spreadsheet -->
      <% structure.example_pathways.each do |pathway| %>
        <a href='#' onclick="twentyfifty.switchPathway('<%= pathway[:code] %>');$('ul#savedpathway_choices').toggle()"><%= pathway[:name] %></a>
      <% end %>
      <!-- Change this to point to your local website -->
      <a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/122'>More&hellip;</a>
    </div>
    <!-- This appears while the tool is waiting for data from the server -->
    <div id='calculating'>
      <span>Calculando</span>
    </div>
    <!-- / The charts will be drawn in this block -->
    <div id='results'></div>
    <!-- / These are the controls -->
    <div id='classic_controls'>
      <!-- The left column -->
      <div id='demand'>
        


        <table>
          <!-- One row per choice -->
         <p><b>Desarrollo urbano y transporte</b></p> 
          <% structure.choices[11..17].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
   
		<table>
          <!-- One row per choice -->
          <p><b>Vivienda</b></p> 
          <% structure.choices[18..24].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>


        <table>
          <!-- One row per choice -->
		  <p><b>Industria</b></p> 
          <% structure.choices[25..26].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>


		<table>
          <!-- One row per choice -->
		  <p><b>Comercio, servicios y sector público</b></p> 
          <% structure.choices[27..28].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>


      </div>


      <!-- The middle column -->
      <div id='supply'>

        <table>
		  <p><b>Nuclear</b></p>         
          <% structure.choices[0..0].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
             <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>


        <table>
     	  <p><b>Generación fósil</b></p>  
          <% structure.choices[1..3].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
             <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>

        <table>
     	    <p><b>Renovables</b></p>  
     	    <% structure.choices[4..10].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>

		<table>
     	    <p><b>Producción fósil</b></p>  
     	    <% structure.choices[30..30].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
              <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>

      </div>
      <!-- The right column -->
      <div id='other'>
        <table>
          <!-- this should actually go up to choice 42, but that isn't ready for prime time yet -->
          <p><b>Almacenamiento y balance energético</b></p> 
          <% structure.choices[29..29].each do |choice| %>
            <tr class='<%= choice.incremental_or_alternative %>' id='r<%= choice.number %>'>
              <td class='name'>
                <a href='/assets/onepage/<%= choice.doc %>' target='_new' data-choicenumber='<%= choice.number %>'>
                  <%= choice.name %>
                </a>
              </td>
             <td class='help'>
                <a title='Haga "click" para información sobre el significado de las opciones <%= choice.levels.to_a.join(' ')%>.' href='/assets/onepage/<%= choice.doc %>' target='_new'>?</a>
              </td>
              <!-- One cell per level for that choice -->
              <% choice.levels.each.with_index do |level,i| %>
                <td class='choice'>
                  <a href='#' data-choicenumber='<%= choice.number %>' data-choicelevel='<%= i+1 %>' id='c<%= choice.number %>l<%= i+1%>' title='<%= choice.descriptions[i] %>' class='choiceLink' >
                    <%= level %>
                </a>
              </td>
            <% end %>
            </tr>
          <% end %>
        </table>
        <h4>Notes</h4>
        <table id='notes'>
          <tr><td id='firstcell'><div class='help'>?</div></td><td>Signo de interrogación te lleva a las descripciones de una página de cada elección</td></tr>
          <tr><td><div class='level1'>1</div></td><td>Elección que refleja el menor esfuerzo posible.</td></tr>
          <tr><td><div class='level2'>2</div></td><td>Considerada ambiciosa pero razonable por la mayoría de los expertos.</td></tr>
          <tr><td><div class='level3'>3</div></td><td>Considerada poco probable sin cambios significativos al sistema actual y/o en las tecnologías.</td></tr>
          <tr><td><div class='level4'>4</div></td><td>El límite superios de lo que se cree es físicamente posible por el observador más optimista.</td></tr>
          <tr><td><div class='alternate'>A</div>&ndash;<div class='alternate'>D</div></td><td>Un rango de opciones donde una alternativa no es necesariamente más difícil que otra</td></tr>
          <tr class='primary_energy_notes'><td>Total empleado en México<sup>1</sup></td><td>La oferta de energía primaria es normalmente más alta que la demanda final, debido a la energía usada para generar electricidad.</td></tr>
          <tr class='primary_energy_notes'><td>Metas<sup>2</sup></td><td>Las metas excluyen aviación y transporte marítimo internacional.</td></tr>
          <tr class='primary_energy_notes'><td>Total<sup>3</sup></td><td>El total incluye la reducción en emisiones de captura y almacenamiento de carbono y del crecimiento de nueva biomasa para reemplazar la usada (crédito por bioenergía).</td></tr> 
      </table>
      </div>
    </div>
    <!-- This is needed to show the tooltips, don't remove -->
    <div id='tooltip'></div>
    <div id='footer'>
      <!-- Change this to link to your country's website -->
      Todos los supuestos y cálculos están disponibles en una hoja de cálculo. Descarga <a href='/model.xlsx'>Excel <%= structure.reported_calculator_version %> <%= %></a> (<a href='http://2050-calculator-tool-wiki.decc.gov.uk/pages/140'>Version history</a>). El código fuente para este sitio también está disponible bajo una licencia de código libre en <a href='http://github.com/Biopirata/mexico-twenty-fifty'>https://github.com/Biopirata/mexico-twenty-fifty</a>
    </div>
    <!-- The following html is only displayed on screen when a user selects a particular view -->
    <div id='snippets'>
      <!-- This is shown the first time a user visits a costs page -->
      <div id='cost_caveats'>
        We would like your help to develop this tool. Please <a href="http://2050-calculator-tool-wiki.decc.gov.uk">click here</a> to find out more about our methodology and suggest improvements.  Before viewing the cost implications of your choices, please note that: 
          <ol>
            <li> The Calculator expresses pathway costs as 'average pounds per person per year'. This is not the same as your energy bill. It is the cost of everything the UK buys that makes, converts, saves or uses energy: from kettles and insulation foam to trains and power stations. You can choose to see the results in different units when using the <a href=\"http://www.decc.gov.uk/2050\">excel version of the Calculator.</a> </li>
            <li>The Calculator does not choose any options automatically, regardless of their cost.</li>
            <li> The Calculator uses forecasts from credible sources of how technology and fuel costs might rise or fall over time. You vary these forecasts using the <a href="#" onclick="twentyfifty.switchView('costs_sensitivity'); return false;">cost sensitivity</a> implication from the menu on the top left. The full set of data points is available on the <a href="http://2050-calculator-tool-wiki.decc.gov.uk">wiki.</a> </li>
            <li>The cost of not tackling climate change is not included in the Calculator. The Stern review estimated that failing to tackle climate change could reduce global GDP by up to 20%. This is the equivalent of up to &pound;6,500 per person per year on average, on top of the cost of the energy system.</li>
            <li>Some other important effects have been excluded from the Calculator. The costs of travelling less or with different modes of transport, having colder homes or fewer goods, and changing the appearance of our houses or landscape are not included. Nor are profits, taxes, subsidies or economies of scale driven by pathway choices. The Calculator includes only the physical costs of constructing, operating and fuelling equipment.</li>
            <li>Costs are just one feature for comparing 2050 pathways. The Calculator provides information on other impacts, as well as some illustrative pathways to compare your choices with.</li>
          </ol>
          <div id='understand'>
            <a href="#" onclick="$.jStorage.set('CostCaveatShown',true);$('#cost_caveats').hide(); return false;">Click to continue using the calculator</a>
          </div>
        </div>
        <div id='air_quality_results'>
          <div class='airquality'>
            <h1>Impacto de tu escenario sobre la calidad del aire</h1>
            <div class='airqualitymessage' id='airqualitymessage'>
              El daño a la salud humana asociado a la contaminación atmosférica de este escenario, principalmente por partículas suspendidas, podría ser de alrededor de <span id='airquality_range_start'></span><span id='airquality_range_end'></span> en 2050, comparado con el 2010. <span id='air_quality_worse'> </span>
          </div>
            <div id='airquality'></div>
            <div class='airqualitymessage'>
              <h2>Cómo interpetar los resultados:</h2>
              <ul>
                <li>El índice de impacto a la salud de la calidad del aire &mdash; este índice mide el efecto sobre la salud humana proveniente de las partículas suspendidas y otros contaminantes tales como los óxidos de nitrógeno.  Por ejemplo, estos contaminantes se han asociado a muertes prematuras causadas por daños al corazón y los pulmones. 2010 es el año base (100). Un número menor a 100 indica una reducción en la contaminación atmosférica y sus impactos asociados en salud, mientras que un valor más alto indica un aumento en los impactos. Este índice refleja la concentración promedio de contaminantes en México. No provee información sobre áreas de alta concentración de contaminantes. </li>
                <li>Nivel alto del rango entramado &mdash; peor escenario de contaminación atmosférica donde no hay mayor introducción de medidas de control de la contaminación entre hoy y el 2050.</li>
                <li>Nivel bajo del rango entramado &mdash; mejor escenario donde la innovación mejora radicalmente la tecnología de control de la contaminación y es instrumentada entre hoy y el 2050. </li>
              </ul>
              <p>
              Agradecemos su retroalimentación sobre la 
              <a href="http://2050-calculator-tool-wiki.decc.gov.uk/pages/80">metodología</a> usada para calcular el impacto de su escenario sobre la calidad del aire.
              También puede descargar la versión excel de la calculadora México 2050 para ver diferentes tipos de contaminación atmosférica y la importancia relativa de las diferentes fuentes. 
              </p>
            </div>
          </div>
        </div>
        <div id="energysecurity">
          <div id="balancing" class="column">
            <h2>Balanceo de la demanda y oferta de electricidad</h2>
            <p id='autobuild_text'> Se asume que se construyen <span id='pathway_balancing_ccgt'></span> GW de capacidad de generación a base de gas para cubrir la brecha entre la demanda promedio de energía y la cantidad de generación baja en carbono seleccionada en el escenario.</p>
            <p>Esta heramienta no modela la operación horaria, diaria o incluso estacional de la red. Presenta sólo promedios anuales. Por tanto, no representa de manera correcta los picos y valles de demanda energética.</p>
            <p>Para atender esta limitación, la herramienta aplica una prueba simulada de estrés considerando un pico de calor en un contexto de poco viento. Esto se describe con mayor detall en [en construcción] <a href="/assets/onepage/49.pdf" target="_new">here</a>. En este caso, la prueba de stress implica que podrían requerirse <span id='pathway_balancing_peaking'></span> GW de capacidad para cubrir los picos de demanda.</p>
            <p>Puedes influenciar la capacidad requerida para demanda pico cambiando el nivel de "almacenamiento, desplazamiento de demanda e intercomección", reduciendo la cantidad de generación renovable intermitente, o reduciendo la demanda de electricidad</p>
          </div>
          <div id="imports" class="column">
            <h2>Dependencia sobre energía importada</h2>
            <p>La calculadora supone que cualquier biomasa disponible es preferida sobre los combustibles fósiles y que los combustibles producidos domésticamente son mejores que los importados. Supone que se importan combustibles fósiles para cubrir demanda no satisfecha.</p>
            <table id="imports">
              <tr><th class="description"></th><th colspan="2" class="year">2010</th><th></th><th colspan="2" class="year">2050</th></tr>
              <tr><th class="description">Imports</th><th class="value">TWh/yr</th><th class="value">%</th><th></th><th class="value">TWh/yr</th><th class="value">%</th></tr>
            </table>
          </div>
          <div id="diversity" class="column">
            <h2>Diversidad de fuentes de energía</h2>
            <p>Puede haber un beneficio de mantener una diversidad de fuentes de energía:</p>
            <table id="diversity">
              <tbody>
              <tr><th class="description">Proporción de la oferta energética</th><th class="year">2010</th><th></th><th class="year">2050</th></tr>
              </tbody>
            </table>
          </div>
          <div class="clear"></div>
        </div>
      </div>

    </div>
  </body>
</html>
